body {

    overflow-y:scroll;

}





@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,700);



@font-face {

    font-family: 'Bitter';

    src: url('/fonts/Bitter-Regular-webfont.ttf') format('truetype');

    font-weight: normal;

    font-style: normal;

}



@font-face {

    font-family: 'Bitter';

    src: url('/fonts/Bitter-Bold-webfont.ttf') format('truetype');

    font-weight: bold;

    font-style: normal;

}



div.cell.active {

   -webkit-transform: translateZ(0);

   -moz-transform: translateZ(0);

   -ms-transform: translateZ(0);

   -o-transform: translateZ(0);

   transform: translateZ(0);

   /* Other transform properties here */

      -webkit-transform: translateZ(0);

   -moz-transform: translateZ(0);

   -ms-transform: translateZ(0);

   -o-transform: translateZ(0);

   transform: translateZ(0);

   /* Other transform properties here */

}



body {

	font-family:"Open sans";

        margin: 0;

        padding: 0;

        background: #ccc;

    font-weight: 300;

    color:#A7A1AE;

    line-height: 1.2em;

}



#logo {

	font-family:"Bitter";

	font-weight:normal;

	color:#c2c1be;

    font-size: 63px;

    line-height: 250px;

}



@media (max-width: 500px) {

    #logo {

        font-size: 53px;

        line-height: 150px;

    }

}



@media (max-width: 425px) {

    #logo {

        font-size: 35px;

        line-height: 150px;

    }

}





html .ui-page-theme-a a, html .ui-bar-a a, html .ui-body-a a, html body .ui-group-theme-a a,

html .ui-page-theme-a a:hover, html .ui-bar-a a:hover, html .ui-body-a a:hover, html body .ui-group-theme-a a:hover {

    color: #f9f9f9;

    text-decoration: none;

    cursor: pointer;

    font-weight: normal;

}











/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

/* %%%%%%%%%%%% BACK-BUTTON UPPER RIGHT %%%%%%%%%%%%%%% */

/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

.button-text {

    font-size: 19px;

    font-style: normal;

    line-height: 40px;



}



@media only screen and (max-width: 1140px){

    .button-text{

        display:none;

        visibility: hidden;

        content:'';                

    }
}



.ui-header .ui-title, .ui-footer .ui-title {

text-align: center;

margin: 0 20% 0 20%;

   

}



a.ui-btn.rounded-icon,

a.ui-btn.rounded-icon:hover,

a.ui-btn.rounded-icon:active {

	height: 40px;

	border: 0px;

	background-color: transparent;

	margin: 0px;

	top: 0;

	color:#c2c1be !important;

}



a.ui-btn.rounded-icon:active {

	color: #FFF !important;

}



#control-r {

	padding: 0 10px 0 25%;

	right:0px;

      position: absolute;

    top: 0;

    right:0;

}



.control-right {

    padding:0 0px 0 10px;

}



a.ui-btn.rounded-icon.ui-btn-left {

	left: 0px;

	padding: 0 25% 0 10px;

}





a.ui-btn.rounded-icon i,

a.ui-btn.rounded-icon i:hover {

	font-size: 20px;

	line-height: 40px;

	padding: 0px;

	margin: 0px;

	border:0px;

	background-color: transparent;

	width: 25px;

	text-align: center;

}





#reset-game i {

	float:right;

}



.ui-header-fixed.ui-fixed-hidden {

top: -1px;

padding-top: 1px;

}







.ui-header .ui-title, .ui-footer .ui-title {

padding:0px;

font-size: 19px;

line-height: 40px;

}



.ui-dialog-contain .ui-title {

    border-bottom: 1px solid #666;

}





/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

/* %%%%%%%%%%%%%%%%%%%%% TASTETUR %%%%%%%%%%%%%%%%%%%%% */

/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

#keyboard {

	text-align:center;

	white-space:nowrap;

}



.keyboard-button {

margin: .1em;

overflow: hidden;

line-height: 2em;

-moz-user-focus: ignore;

text-rendering: optimizeLegibility;

}



.cell {

background-color: transparent;

}



/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

/* %%%%%%%%%%%%%%%%%%%% OVERWRITES %%%%%%%%%%%%%%%%%%%% */

/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */



a.times-btn {

	display:block !important;

	font-family:"Bitter";

	height:44px;

	line-height:44px;

	font-size:16px !important;

	padding:0px;

	border:0px;

}



a.times-btn:hover {

	opacity: 0.9;

}



.ui-content {

padding: 0px;

overflow:hidden;

}



#compop {

	background-color: #2c3446;

color: #ddd;	

}



.ui-slider-label.ui-slider-label-b {

	background-color:#6d7179;

}



span.ui-slider-label.ui-slider-label-a.ui-btn-active {

	background-color:#2c3446;

}



a.ui-slider-handle.ui-btn.ui-shadow.ui-slider-handle-snapping {

	background-color:#c2c1be;	

}



#comp-info {

	display: inline-block;

padding: 0;

margin: 3px;

float: right;



}



#comp-info i {

	color: #ddd !important;

	border-color: #222!important; 

	background-color: #2c3446;

	border-radius: 50%;

	width: 35px;

	line-height: 35px;

	height: 35px;

}



.cell .ui-btn {

	height:44px;

	border:0px;

	border-radius:0px;

	font-family:"Bitter";

    line-height: 44px;

    font-weight: bold !important;

}



@media (min-height: 700px) {

	.cell .ui-btn {

		height:49px;

		line-height:49px;

	}	

}



@media (min-height: 850px) {

	.cell .ui-btn {

		height:52px;

		font-size:20px !important;

		line-height: 52px;

	}	

}



@media (min-height: 1000px) {

	.cell .ui-btn {

		height:54px;

		font-size:21px !important;

		line-height: 54px;

	}	

}





#make-settings-form {

	padding:0 5px;

}



/*footer and header color */

.ui-bar-a, .ui-page-theme-a .ui-bar-inherit, html .ui-bar-a .ui-bar-inherit, html .ui-body-a .ui-bar-inherit, html body .ui-group-theme-a .ui-bar-inherit {

color: #ddd;

text-shadow: inherit;

font-weight: 700;

background-color: #2C3446;

    /* TilfÃ¸jet til web */

    width: 100%;

    position: fixed;

    left: 0px;

}



/* TilfÃ¸jet til web */

div.ui-header.ui-bar-inherit {

    width: 100%;

    position: relative;

    left: 0px;

}



.ui-dialog-contain .ui-header.ui-bar-inherit {

    position: inherit;

    left: inherit;

}







html .ui-bar-a, html .ui-page-theme-a .ui-bar-inherit, html .ui-bar-a .ui-bar-inherit, html .ui-body-a .ui-bar-inherit, html body .ui-group-theme-a .ui-bar-inherit {

background: #2C3446;

border-color: #2C3446;

border-radius: 0px !important;

}



html .ui-overlay-a, html .ui-page-theme-a, html .ui-page-theme-a .ui-panel-wrapper, th.cell {

background-color: #1f2739;

}





/* DIALOG */

.ui-dialog-contain {

max-width: 350px;

margin: 10% auto 1em;

padding: 0;

position: relative;

}



h1.header-title {

	color:#c2c1be;

	font-weight:bold;

}



.ui-btn-icon-left:after, .ui-btn-icon-right:after, .ui-btn-icon-top:after, .ui-btn-icon-bottom:after, .ui-btn-icon-notext:after {

	border-radius: 50%;

	content: "\f078";

	line-height: 21px;

	font-size: 11px;

	font-family: FontAwesome;

}





/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

/* %%%%%%%%%%%%%%%%%%%% PLAYED LIST %%%%%%%%%%%%%%%%%%% */

/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */



.ui-listview h2.list-title {

	font-family:"Bitter";

	font-weight:bold;

	margin:4px 0 0 0;

    font-size: 1.2em;

}



.ui-listview h2.list-title.oneline {

	margin:12px 0 0 0;

}



.ui-listview .listview-background p {

	font-size:12px;

	font-family:"Open sans";

	font-weight:normal;

	line-height:14px;

	margin:0;	

}



.ui-listview>li.ui-li-has-alt>.ui-btn+.ui-put {

position: absolute;

width: 2.5em;

height: 100%;

min-height: auto;

-webkit-box-sizing: border-box;

-moz-box-sizing: border-box;

box-sizing: border-box;

border-left-width: 1px;

top: 0;

right: 0;

margin: 0;

padding: 0;

z-index: 2;

}



a.btn-listview {

	text-align:center;

	line-height:42px;

	min-width:42px;

	min-height:50%;

	color:#FFF !important;

}



a.btn-listview.first{

	min-height:100%;

	line-height:84px;

}



a.btn-listview.btn-listview-top {

	background-color:rgba(217,168,108,0.4);

}



a.btn-listview.btn-listview-bottom {

	background-color:rgba(47,53,85,0.4);

}



a.btn-listview.btn-listview-bottom:hover,

a.btn-listview.first:hover {

	background-color:rgba(47,53,85,0.6);

}



a.btn-listview.btn-listview-top:hover {

	background-color:rgba(217,168,108,0.2);

}





li.listview-background-li {

	overflow:hidden;

}



.listview-icon-left {

position: absolute;

left: 0;

top: 0;

height: 5em;

width: 65px;

text-align:center;

}



.listview-icon-right {

	right: 50px;

line-height: 84px;

position: absolute;

color: rgba(0,0,0,0.4);

font-size: 14px;

}



li.new .listview-icon-right {

	right:13px;

}





.listview-icon-left i.fa {

	text-align:center;

	line-height:84px;

	font-size:38px;

	width:38px;

	opacity: 0.7;

}



.ui-listview>.ui-li-has-thumb>.ui-btn, .ui-listview>.ui-li-static.ui-li-has-thumb {

padding-left: 65px;

}







ul.ui-listview a.listview-background,

ul.ui-listview a.listview-background:hover,

#message {

	background-color: rgba(248, 247, 216, 0.7);

    position: absolute;

    top: 0;

    left: 0;

	right:0;

    height: 100%;

	background: -moz-linear-gradient(-45deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 50%, rgba(0,0,0,0.02) 50%, rgba(0,0,0,0.02) 100%); /* FF3.6+ */

background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(50%,rgba(0,0,0,0)), color-stop(51%,rgba(0,0,0,0.02)), color-stop(100%,rgba(0,0,0,0.02))); /* Chrome,Safari4+ */

background: -webkit-linear-gradient(-45deg, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 50%,rgba(0,0,0,0.02) 50%,rgba(0,0,0,0.02) 100%); /* Chrome10+,Safari5.1+ */

background: -o-linear-gradient(-45deg, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 50%,rgba(0,0,0,0.02) 50%,rgba(0,0,0,0.02) 100%); /* Opera 11.10+ */

background: -ms-linear-gradient(-45deg, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 50%,rgba(0,0,0,0.02) 50%,rgba(0,0,0,0.02) 100%); /* IE10+ */

background: linear-gradient(135deg, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 50%,rgba(0,0,0,0.02) 50%,rgba(0,0,0,0.02) 100%); /* W3C */

filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#05000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}



ul.ui-listview a.listview-background:hover {

	background-color: rgba(248, 247, 216, 0.7);

    position: absolute;

    top: 0;

    left: 0;

    height: 100%;

	background: -moz-linear-gradient(-45deg, rgba(0,0,0,0.08) 0%, rgba(0,0,0,0.08) 50%, rgba(0,0,0,0.1) 50%, rgba(0,0,0,0.1) 100%); /* FF3.6+ */

background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(0,0,0,0.08)), color-stop(50%,rgba(0,0,0,0.08)), color-stop(51%,rgba(0,0,0,0.1)), color-stop(100%,rgba(0,0,0,0.1))); /* Chrome,Safari4+ */

background: -webkit-linear-gradient(-45deg, rgba(0,0,0,0.08) 0%,rgba(0,0,0,0.08) 50%,rgba(0,0,0,0.1) 50%,rgba(0,0,0,0.1) 100%); /* Chrome10+,Safari5.1+ */

background: -o-linear-gradient(-45deg, rgba(0,0,0,0.08) 0%,rgba(0,0,0,0.08) 50%,rgba(0,0,0,0.1) 50%,rgba(0,0,0,0.1) 100%); /* Opera 11.10+ */

background: -ms-linear-gradient(-45deg, rgba(0,0,0,0.08) 0%,rgba(0,0,0,0.08) 50%,rgba(0,0,0,0.1) 50%,rgba(0,0,0,0.1) 100%); /* IE10+ */

background: linear-gradient(135deg, rgba(0,0,0,0.08) 0%,rgba(0,0,0,0.08) 50%,rgba(0,0,0,0.1) 50%,rgba(0,0,0,0.1) 100%); /* W3C */

}



.ui-listview li.listview-background-li {

	border-radius:0px;

	min-height:84px;

	border-radius: 0px !important;

	margin: 0 0 1em 0;

}





#new-table-li .ui-btn {

	margin-right:0px;

}

	



.ui-listview>.ui-li-static.ui-last-child, .ui-listview>.ui-li-divider.ui-last-child, .ui-listview>li.ui-last-child>a.ui-btn {

border-bottom-width: 0px;

}



.ui-listview>.ui-li-static, .ui-listview>.ui-li-divider, .ui-listview>li>a.ui-btn {

border-width: 0px 0 0;

}



ul.ui-listview.ui-listview-inset.ui-corner-all.ui-shadow {

margin: 1em 1em;

}



li.hidden {

	display:none;	

}







/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

/* %%%%%%%%%%%%%%%%% TABLE STRUCTURE %%%%%%%%%%%%%%%%%% */

/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */



.table {

table-layout: fixed;

border-collapse:collapse;

/*Horisontally align table*/

margin:auto;

display:table;

}



.cell {

display:table-cell;

}



#table .cell,

#table-make .cell {

font-weight: normal;

font-size: 1em;

text-align: center;

border-right:1px solid #1f2739;

border-bottom:1px solid #1f2739;

vertical-align: middle;

}



#table .cell.t-head,

#table-make .cell.t-head {

	font-weight:bold;

}



.row {

	display:table-row;

}



#time-display {

	width:50px;

	padding-right:5px;

}



#active-text {

	display:block;

	position:absolute;

	padding: 0 1px 0 1px;

	top:0;

	font-weight:bold;

}







/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

/* %%%%%%%%%%%%%%%%%%%%%% TABLE  %%%%%%%%%%%%%%%%%%%%%% */

/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */



#table {

	font-family:"Bitter";

	font-weight:bold;

}



#table table tr,

div.cell {

	background-color:#2C3446;

}



div.t-head {

	color:#999;

	font-weight:bold;

	background-color:transparent;

	text-align:center;

}



th.cell.active-th {

	color:#FFF;

}



div.udfyldt {

color: #c2c1be;

background-color: #323C50;

}



div.cell.active {

	color:#FFF;

	font-weight:bold;

    -webkit-transform: translate3d(0,0,0);

	transform:translate3d(0,0,0);

}



div.complementary {

	background-color:#1f2739;

}



#time-display,

#error-display {

	font-weight:bold;

}



#game-info {

	font-weight:normal;

	color:#FFF842;

}



/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

/* %%%%%%%%%%%%%%%%%%% COLOR THEMES  %%%%%%%%%%%%%%%%%% */

/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

/* new */

li.listview-background-li.new {

	background-color:rgba(194,193,190,0.7);

	margin-bottom: 40px;

}



/* Green */

#make-form.green .ui-btn,

.ui-btn.green,

.green.background,

div.cell.active.green #active-text,

li.listview-background-li.green {

	background-color:#458c6b !important;

}



#make-form.green .ui-slider-bg,

div.cell.highlight.green {

	background-color:#2f3f4b;

}



#game-info.green {

	color:#c8ddd3;

}



/* Orange */

#make-form.orange .ui-btn,

.ui-btn.orange,

.orange.background,

div.cell.active.orange #active-text,

li.listview-background-li.orange {

	background-color:#d35400 !important;

}



#make-form.orange .ui-slider-bg,

div.cell.highlight.orange {

	background-color:#42383d;

}



#game-info.orange {

	color:#f2ccb3;

}



/* purple */

#make-form.purple .ui-btn,

.ui-btn.purple,

.purple.background,

div.cell.active.purple #active-text,

li.listview-background-li.purple {

	background-color:#8e44ad !important;

}



#make-form.purple .ui-slider-bg,

div.cell.highlight.purple {

	background-color:#393653;

}



#game-info.purple {

	color:#ddc7e7;

}



/* blue */

#make-form.blue .ui-btn,

.ui-btn.blue,

.blue.background,

div.cell.active.blue #active-text,

li.listview-background-li.blue {

	background-color:#2980b9 !important;

}



#make-form.blue .ui-slider-bg,

div.cell.highlight.blue {

	background-color:#2c3e55;

}



#game-info.blue {

	color:#bfd9ea;

}



/* yellow */

#make-form.yellow .ui-btn,

.ui-btn.yellow,

.yellow.background,

div.cell.active.yellow #active-text,

li.listview-background-li.yellow {

	background-color:#e38f00 !important;

}



#make-form.yellow .ui-slider-bg,

div.cell.highlight.yellow {

	background-color:#44403d;

}



#game-info.yellow {

	color:#f7deb3;

}



/* red */

#make-form.red .ui-btn,

.ui-btn.red,

.red.background,

div.cell.active.red #active-text,

li.listview-background-li.red {

	background-color:#c0392b !important;

}



#make-form.red .ui-slider-bg,

div.cell.highlight.red {

	background-color:#3f3543;

}



#game-info.red {

	color:#ecc4c0;

}



div.cell.active #active-text.wrong {

	background-color:#ff0000 !important;

}



/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

/* %%%%%%%%%%%%%%%%%%%% MAKE-PAGE  %%%%%%%%%%%%%%%%%%%% */

/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */



.ui-page .ui-footer-fixed.ui-fixed-hidden {

	position:fixed;

}

#range-sliders {

	margin:0 5px;

}



/* BOTTOM-BUTTONS */

#make-form .ui-bar {

	padding:0px;

	margin:0px;

	height:inherit !important;

}



#make-form .ui-btn-inline {

	margin-right:0px;

}





.times-btn:after {

	font-family: FontAwesome;

	color: rgba(255,255,255,0.7);

	font-size: 15px;

	margin: 0 -15px 0 10px;

}



.times-btn:before {

	font-family: FontAwesome;

	color: rgba(255,255,255,0.7);

	font-size: 15px;

	margin: 0 15px 0 -15px;

}



#saveNewTable:after {

	content: "\f00c";

}



#cogNewTable:after {

	content: "\f085";

}





/* SLIDERS */

#make-form label.label-right {

    float: left;

    line-height: 32px;

    width: 20px;

    padding: 0 10px 0 0;

	font-size:18px;

	font-weight:bold;

	font-family:"Bitter";

	color:#DDD;

}



#complementary {

	width:50px;

	display:inline-block;

	margin:0.5em 0 0 17px;

}



#complementary.on .noUi-base {

	background-color:#3FA230;

}



@media (min-width: 28em) {

	.ui-field-contain>label, .ui-field-contain .ui-controlgroup-label, .ui-field-contain>.ui-rangeslider>label {

		width: 40%;

	}

}



@media (min-width: 28em) {

	.ui-field-contain>label+[class*=ui-], .ui-field-contain .ui-controlgroup-controls {

		width: 58%;

	}

}





/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

/* %%%%%%%%%%%%%%%%%% FINISHED PAGE %%%%%%%%%%%%%%%%%%% */

/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

h1.page-title {

	font-family:"Bitter";

	font-weight:bold;

	font-size:34px;

	color:#c2c1be;

	margin: 0px;

	line-height: 60px;

	margin-left:5px;

}



#finish-list {

	list-style:none;

	zoom:1.1;

}



#finished-table-name {

	font-family: "Open sans";

	font-weight: normal;

	color: #ddd;

	text-align: center;

	margin: 0;

	padding: 0px;

}



#finished-title {

	text-align:center;

}



#finish-list li {

	padding-left: 2.15em;

	color:#FFF;

	font-family:"Open sans";

	font-size:18px;

	border-bottom: 1px solid #2C3446;

}



#finish-list .fa-li,

#finish-list li {

	line-height:40px;

}



#finish-list .align-right {

right: 8px;

line-height: 40px;

position: absolute;

color: rgba(194,194,190,0.4);

font-size: 14px;

display: inline-block;

}



#finish-list #view-errors {

	line-height: 30px !important;

	margin: 5px 0px;

	background-color: rgba(194,194,190,0.15);

	font-size: 14px;

	font-weight:bold;

	color:#FFF;

	padding: 0 5px;

	text-decoration: none;

}



#error-list p.list-title,

#exists-already p.list-title {

	font-family:"Bitter";

	color:#ddd;

	border-bottom: 1px solid #454e62;

padding-bottom: 5px;

font-size:24px;

margin-bottom: 20px;

}



#error-list,

#exists-already {

	padding:20px;

	background-color: #2C3446;

color: #c2c1be;

font-family: "Open sans";

font-size: 18px;

}



#error-list p,

#exists-already p {

	line-height: 1em;

margin: 10px 0px;

}



span.equation-error {

	font-weight: bold;

}



#finish-footer,

#make-buttons {

	display:table;

	width:100%;

    border-collapse: separate;

    border-spacing: 5px;



outline: 0 !important;

bottom: 0;

left: 0;

margin: 0;

overflow: hidden;

white-space: nowrap;

}





#make-buttons {

	position:initial !important;

}



.cell .times-btn {

	margin:0px;

}



	

button.finish-button {

	height:50px;

	margin:0;

	border-radius:0px !important;

	font-family:"Bitter";

	font-weight:bold;

	border:0px !important;

    font-size: 1em !important;

}



button.finish-button:hover {

	opacity:0.9;

}



#finish-footer .menu {

	background-color:#6d7179 !important;

}



#finish-footer .menu:before,

#finish-footer .reset-game:after {

	font-family: FontAwesome;

	color:rgba(255,255,255,0.7);

	font-size:15px;

}



#finish-footer .menu:before {

	content: "\f053";

	margin:0 10px 0 -15px;

}



#finish-footer .reset-game:after {

	content: "\f01e";

	margin:0 -15px 0 10px;

}



#page-header h1.ui-title {

	margin:0 5px 0 80px;

	text-align:right;

	color:#c2c1be;		

}



.hidden {

	display:none !important;	

}



li#stats:hover {

background-color: #6d7179;

}



.fa-ul {

	padding-left: 0;

	margin: 0 1.5em;

	list-style-type: none;

}



.fa-li {

	left: 0 !important;

}



/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

/* %%%%%%%%%%%%%%%% DELETE_DIALOG  %%%%%%%%%%%%%%%%%%%% */

/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

.dialog-buttons {

	display: table;

	width: 100%;

	border-collapse: separate;

	border-spacing: 5px;

	left: 0;

	margin: 0;

    padding-bottom: 5px;

}



.ui-dialog-contain .dialog-content {

    background-color: #2C3446;

	border-radius: 0px !important;

	color: #FFF;

	border: 0px;

}



.ui-dialog-contain .dialog-content p {

	padding:10px;

    color: #FFF;

}



.cell button.second-button,

.second-button,

#make-form a.ui-btn.second-button {

	background-color:#6d7179 !important;

}



#delete-table:after {

	content:"\f1f8";

}





/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

/* %%%%%%%%%%%%%%%%%%%%% FINSIHED_MESSAGE  %%%%%%%%%%%%%%%%%%%% */

/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

#message-container {

	position:relative;

	width:100%;

	height:100px;

	margin-top:30%;

}

#message {

	position:absolute;

	top:0;

	left:0;

	width:100%;

	height:100px;

}



#message-text {

	color:#FFF;

	font-size:30px;

	text-align:center;

	font-family:"Bitter";

	font-weight:bold;

	line-height:100px;

	margin:0;

	padding:0 10px;

}



.ui-content.no-padding {

padding: 0px;

}







/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

/* %%%%%%%%%%%%%%%%%%%%% pageStats  %%%%%%%%%%%%%%%%%%%% */



/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */



#stats-title {

	font-size:24px;

    padding-top: 60px;

}



#stat-play:after {

	content: "\f04b";

}



.back-stat-dialog.second-button:before,

.cancel-delete-table.second-button:before {

	content: "\f053";

}



/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

/* %%%%%%%%%%%%%%%%%%%%% KEYBOARD  %%%%%%%%%%%%%%%%%%%% */

/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */



#keyboard-container,

#stat-footer {

	background-color:#000;

	border:0px;

	padding:2px 0 4px 0;

	position:fixed; 

	display:block; 

	outline:0 !important; 

	bottom:0; 

	width:100%; 

	left:0; 

	margin:0; 

	overflow:hidden; 

	white-space:nowrap;

}



#keyboard-container button.key {

	background-color: #302f37;

	border: 0px;

	border-radius: 2px;

	margin: 3.5px 3.5px;

	color: #999;

	display: inline-block;

	height: 40px;

	padding: 0;

	line-height: 40px;

	font-size: 18px;

	border: 1px solid rgba(0,0,0,0.1);

	box-shadow: inset 0 1px 0 rgba(65,65,74,0.7);

}



#keyboard-container button.key:active,

#keyboard-container button.key.touchactive {

	background-color:#3f3f48;

}



/*

.jep {

	display: block;

float: left;

font-size: 14px;

font-weight: 700;

margin: 0;

padding: 4px;

width: 40px;

height: 20px;

line-height: 20px;

border-width: 1px;

border-style: solid;

outline: 0;

text-align: center;

vertical-align: text-bottom;

-webkit-appearance: none;

-moz-appearance: none;

appearance: none;

-webkit-box-sizing: content-box;

-moz-box-sizing: content-box;

-ms-box-sizing: content-box;

box-sizing: content-box;

}

*/





/* ANimtation table firstTime */

.animated {

  -webkit-animation-duration: 1s;

  animation-duration: 1s;

  -webkit-animation-fill-mode: both;

  animation-fill-mode: both;

}



.animated.infinite {

  -webkit-animation-iteration-count: infinite;

  animation-iteration-count: infinite;

}



.animated.hinge {

  -webkit-animation-duration: 2s;

  animation-duration: 2s;

}



@-webkit-keyframes flipInX {

  0% {

    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);

    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);

    -webkit-transition-timing-function: ease-in;

    transition-timing-function: ease-in;

    opacity: 0;

  }



  40% {

    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);

    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);

    -webkit-transition-timing-function: ease-in;

    transition-timing-function: ease-in;

  }



  60% {

    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);

    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);

    opacity: 1;

  }



  80% {

    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);

    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);

  }



  100% {

    -webkit-transform: perspective(400px);

    transform: perspective(400px);

  }

}



@keyframes flipInX {

  0% {

    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);

    -ms-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);

    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);

    -webkit-transition-timing-function: ease-in;

    transition-timing-function: ease-in;

    opacity: 0;

  }



  40% {

    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);

    -ms-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);

    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);

    -webkit-transition-timing-function: ease-in;

    transition-timing-function: ease-in;

  }



  60% {

    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);

    -ms-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);

    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);

    opacity: 1;

  }



  80% {

    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);

    -ms-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);

    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);

  }



  100% {

    -webkit-transform: perspective(400px);

    -ms-transform: perspective(400px);

    transform: perspective(400px);

  }

}



.flipInX {

      -webkit-animation-delay: 0.2s; /* Chrome, Safari, Opera */

    animation-delay: 0.2s;

  -webkit-backface-visibility: visible !important;

  -ms-backface-visibility: visible !important;

  backface-visibility: visible !important;

  -webkit-animation-name: flipInX;

  animation-name: flipInX;

}



@-webkit-keyframes flipOutX {

  0% {

    -webkit-transform: perspective(400px);

    transform: perspective(400px);

  }



  30% {

    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);

    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);

    opacity: 1;

  }



  100% {

    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);

    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);

    opacity: 0;

  }

}



@keyframes flipOutX {

  0% {

    -webkit-transform: perspective(400px);

    -ms-transform: perspective(400px);

    transform: perspective(400px);

  }



  30% {

    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);

    -ms-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);

    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);

    opacity: 1;

  }



  100% {

    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);

    -ms-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);

    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);

    opacity: 0;

  }

}



.flipOutX {

  -webkit-animation-name: flipOutX;

  animation-name: flipOutX;

  -webkit-animation-duration: .75s;

  animation-duration: .75s;

  -webkit-backface-visibility: visible !important;

  -ms-backface-visibility: visible !important;

  backface-visibility: visible !important;

}



@-webkit-keyframes bounceInDown {

  0%, 60%, 75%, 90%, 100% {

    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);

    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);

  }



  0% {

    opacity: 0;

    -webkit-transform: translate3d(0, -3000px, 0);

    transform: translate3d(0, -3000px, 0);

  }



  60% {

    opacity: 1;

    -webkit-transform: translate3d(0, 25px, 0);

    transform: translate3d(0, 25px, 0);

  }



  75% {

    -webkit-transform: translate3d(0, -10px, 0);

    transform: translate3d(0, -10px, 0);

  }



  90% {

    -webkit-transform: translate3d(0, 5px, 0);

    transform: translate3d(0, 5px, 0);

  }



  100% {

    -webkit-transform: none;

    transform: none;

  }

}



@keyframes bounceInDown {

  0%, 60%, 75%, 90%, 100% {

    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);

    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);

  }



  0% {

    opacity: 0;

    -webkit-transform: translate3d(0, -3000px, 0);

    -ms-transform: translate3d(0, -3000px, 0);

    transform: translate3d(0, -3000px, 0);

  }



  60% {

    opacity: 1;

    -webkit-transform: translate3d(0, 25px, 0);

    -ms-transform: translate3d(0, 25px, 0);

    transform: translate3d(0, 25px, 0);

  }



  75% {

    -webkit-transform: translate3d(0, -10px, 0);

    -ms-transform: translate3d(0, -10px, 0);

    transform: translate3d(0, -10px, 0);

  }



  90% {

    -webkit-transform: translate3d(0, 5px, 0);

    -ms-transform: translate3d(0, 5px, 0);

    transform: translate3d(0, 5px, 0);

  }



  100% {

    -webkit-transform: none;

    -ms-transform: none;

    transform: none;

  }

}



.bounceInDown {

  -webkit-animation-name: bounceInDown;

  animation-name: bounceInDown;

}



@-webkit-keyframes bounceOutUp {

  20% {

    -webkit-transform: translate3d(0, -10px, 0);

    transform: translate3d(0, -10px, 0);

  }



  40%, 45% {

    opacity: 1;

    -webkit-transform: translate3d(0, 20px, 0);

    transform: translate3d(0, 20px, 0);

  }



  100% {

    opacity: 0;

    -webkit-transform: translate3d(0, -2000px, 0);

    transform: translate3d(0, -2000px, 0);

  }

}



@keyframes bounceOutUp {

  20% {

    -webkit-transform: translate3d(0, -10px, 0);

    -ms-transform: translate3d(0, -10px, 0);

    transform: translate3d(0, -10px, 0);

  }



  40%, 45% {

    opacity: 1;

    -webkit-transform: translate3d(0, 20px, 0);

    -ms-transform: translate3d(0, 20px, 0);

    transform: translate3d(0, 20px, 0);

  }



  100% {

    opacity: 0;

    -webkit-transform: translate3d(0, -2000px, 0);

    -ms-transform: translate3d(0, -2000px, 0);

    transform: translate3d(0, -2000px, 0);

  }

}



.bounceOutUp {

  -webkit-animation-name: bounceOutUp;

  animation-name: bounceOutUp;

}



.slidervalue {

	margin:6px 0;

	width:25px;

	display:block;

background-color: #222;

border: 2px !important;

color: #999;

text-align:center;

width:30px;

font-weight:bold;

line-height:30px;

border-radius: .3125em;

}



#colorpicker {

	display: table;

	padding: 0 5px;

}



.slide-left {

	float:left;	

}



.slide-right {

	float:right;	

}



.sliderwrapper {

width:100%;

}



.sliders {

	margin:12px 25px;

}



span.sliderlabel {

	line-height: 44px;

	vertical-align:top;

	width: 20px;

	padding: 0 10px 0 0;

	font-size: 18px;

	font-weight: bold;

	font-family: "Bitter";

	color: #DDD;

}



#contact {

	text-align: center;

	float:right;

	line-height: 42px;

	min-width: 42px;	

	color:rgba(255,255,255,0.5)!important;

	position: absolute;

	display: block;

	outline: 0 !important;

	bottom: 0 !important;

	right: 13px;

	margin: 0;

	overflow: hidden;

	white-space: nowrap;

	font-weight:bold;

}



.times-btn,

.finish-button {

padding: 0 1em;

}



#dialog-buttons,

#contact-button {

	margin:0 5px;

}







@media only screen and (min-width: 1140px){

        .ui-page,

        .footer-container{

            width: 1140px !important;

        }

    }



@media only screen and (min-width: 800px){

    .ui-page,

    .footer-container {

        padding: 0px !important;

        margin: 0 auto !important;

        position: relative !important;



    }

}





/* 2@@@@@@@@@@@@@@@@@@@@@@@@  Navigatyion @@@@@@@@@@@@@@@@@@ */

.navbar {

    background-color: #111; 

}



.navbar.transparent {

    background-color: inherit; 

}



.nav ul {

    list-style: none;

    float: right;

    text-align: center;

    padding: 0;

    margin: 0;

}



.nav li {

    font-family: 'Oswald', sans-serif;

    font-size: 14px;

    border-bottom: 1px solid #888;

    border-bottom: none;

    height: 30px;

    line-height: 30px;

    display: inline-block;

    margin-right: -4px;

    padding: 15px 5px;

}



.nav a {

    text-decoration: none;

    color: #999;

    display: block;

    line-height: 30px;

   

}



.nav a:hover {

    color: #FFF;

}

/*

.nav a.active {

    background-color: #fff;

    color: #444;

    cursor: default;

}*/



.nav li.divider {

    width: 30px;

    padding: 15px 0px;



}



.nav li.button {

    margin: 0;

    padding: 0px 20px!important;

    height: 30px;

    font-weight: bold;

    line-height: 23px!important;

    background-color: #e6e6e6!important;

    color: #333!important;

    text-align: center;

    border: 1px solid transparent;

    cursor: pointer;

    -moz-border-radius: 6px;

    -webkit-border-radius: 6px;

    border-radius: 6px;

    -webkit-box-shadow: 0 3px 0 -1px #1b1b1b!important;

    box-shadow: 0 3px 0 -1px #1b1b1b!important;

}



.nav li.button:hover {

    background-color: #d2d2d2!important;

}



.nav li.button a {

    color: #333!important;

}





.ui-mobile .ui-page {

    min-height: 400px !important;

}



div.ui-custom {

    border: none !important;

}





* { margin: 0; padding: 0; }

#left-user { left: 0;  width: 50%; float: left; }

#right-user {  right: 0;  width: 50%; float: right;}





#left-user ul.ui-listview.ui-listview-inset.ui-corner-all.ui-shadow {

    margin-right: 0.5em;

}



#right-user ul.ui-listview.ui-listview-inset.ui-corner-all.ui-shadow {

    margin-left: 0.5em;

}



li.listview-background-li.new.user {

    background-color:rgba(194,193,190,0.3);

}







div.loggedOut ul.ui-listview.ui-listview-inset.ui-corner-all.ui-shadow {

    margin-top: 0px;

}







::-webkit-scrollbar {

    -webkit-appearance: none;

    position: absolute;

}

::-webkit-scrollbar:vertical {

    width: 12px;

    

}

::-webkit-scrollbar:horizontal {

    height: 12px;

}

::-webkit-scrollbar-thumb {

    background-color: rgba(0, 0, 0, .5);

    border-radius: 10px;

    border: 1px solid #555a62;

}

::-webkit-scrollbar-track {

    border-radius: 10px;

    background-color: #4d535e;

}



#contact-button button {

    background-color: #458c6b !important;

}



.uk-grid>* {

    margin: 0;

    padding-left: 25px;

    float: left;

}



[class*='uk-width'] {

    -moz-box-sizing: border-box;

    box-sizing: border-box;

    width: 100%;

}



.uk-grid {

    margin: 0 0 0 -25px;

    padding: 0;

    list-style: none;

}



.uk-panel {

    display: block;

    position: relative;

}





.uk-width-medium-1-3, .uk-width-medium-2-6 {

    width: 33.333%;

}





.uk-width-medium-2-3, .uk-width-medium-4-6 {

    width: 66.666%;

}



.uk-margin-large-bottom {

    margin-bottom: 50px !important;

}



.uk-grid:not(.uk-grid-preserve)>* {

    padding-left: 35px;

}



img {

    -moz-box-sizing: border-box;

    box-sizing: border-box;

    max-width: 100%;

    height: auto;

    vertical-align: middle;

}



h2.uk-heading-large.frontpagelist {
    font-size: 36px;
    color: #d5d5d5;
    padding-bottom: 25px;
    line-height: 1.1em !important; 
}



.uk-text-muted {

    color: #999 !important;

}



p.frontpagelist {

    font-size: 24px;

    line-height: 1.1em;

    font-family: 'Open Sans', sans-serif;

    font-weight: normal;

}



