/* styles.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}
header {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}
button {
  padding: 10px 20px;
  background-color: #333;
  color: rgb(255 51 255);
  border: none;
  cursor: pointer;
}
