body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: rgb(28, 26, 28);
    color: #bf00ff;
}

.top-bar {
    background-color: #000000;
    padding: 5px 20px; /* Adjust the padding to make it smaller */
    text-align: left; /* Align the text to the left */
    border-radius: 0; /* Remove the border-radius to make it a rectangle */
    text-shadow: none; /* Remove the text-shadow */
    margin-bottom: 20px;
    box-shadow: 0px 0px 15px rgba(148, 0, 211, 0.5);
    background-size: contain;
    width: 100%;
}

#title{
    color: #ffffff;
    text-shadow: 0px 0px 15px #ffffff;
    font-family: 'Special Elite', cursive;
}
.logout-button {
    position: absolute;
    top: 10px; /* Adjust the top value to position it properly */
    right: 10px; /* Adjust the right value to position it properly */
    padding: 10px 20px;
    background-color: #9400d3;
    color: #fff;
    text-align: center;
    border-radius: 10px;
    font-size: 18px; /* Adjust the font size as per your design */
    font-weight: bold;
    text-decoration: none;
    box-shadow: 0px 0px 5px rgba(148, 0, 211, 0.5);
    transition: background-color 0.3s;
}

.logout-button:hover {
    background-color: #6a0080;
    box-shadow: 0px 0px 25px rgba(148, 0, 211, 0.692);
}
.button-container {
    text-align: center; /* Center the buttons horizontally */
    padding: 20px;
    white-space: nowrap; /* Prevent wrapping the entire button container */
}

.card-button {
    display: inline-block;
    width: 300; /* Set the desired width for each button */
    height: 420; /* Set the desired height for each button */
    margin: 10px;
    padding: 10px 20px;
    background-color: #9400d3;
    color: #fff;
    text-align: center;
    line-height: 420px;
    text-decoration: none;
    border-radius: 10px;
    font-size: 40px;
    font-weight: bold;
    box-shadow: 0px 0px 5px rgba(148, 0, 211, 0.5);
    transition: background-color 0.3s;
}

.card-button:hover {
    background-color: #6a0080;
    box-shadow: 0px 0px 25px rgba(148, 0, 211, 0.692);
}



#card1 {
    color: #fff; /* Change text color */
    width: 300; /* Set the desired width for each button */
    height: 420; 
    text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.719);
    background: rgba(59, 59, 59, 0.692) url('books.png') center/cover no-repeat; 
}


#card2 {
    background: rgba(59, 59, 59, 0.692) url('exams.png') center/cover no-repeat; 
    text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.719);
    color: #fff; /* Change text color */
    text-align: center;
}


#card3 {
    background: rgba(59, 59, 59, 0.692) url('ss.png') center/cover no-repeat; 
    text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.719);
    color: #fff; /* Change text color */
}


#card4 {
    background: rgba(59, 59, 59, 0.692) url('spil.png') center/cover no-repeat; 
    text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.719);
    color: #fff; /* Change text color */
}





.card-button:hover {
    background-color: #6a0080;
    box-shadow: 0px 0px 15px rgba(148, 0, 211, 0.5);
}
