body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: rgb(28, 26, 28);
    color: #bf00ff;
}

.top-bar {
    background-color: #000000;
    padding: 5px 20px; /* Adjust the padding to make it smaller */
    text-align: left; /* Align the text to the left */
    border-radius: 0; /* Remove the border-radius to make it a rectangle */
    text-shadow: none; /* Remove the text-shadow */
    margin-bottom: 20px;
    box-shadow: 0px 0px 15px rgba(148, 0, 211, 0.5);
    background-size: contain;
}

#title{
    color: #ffffff;
    text-shadow: 0px 0px 15px #ffffff;
    font-family: 'Special Elite', cursive;
}

.button-container {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.card-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px; /* Set the width to match the card width */
    height: 420px; /* Set the height to match the card height */
    padding: 20px;
    background-color: #9400d3;
    color: #fff;
    text-align: center;
    text-decoration: none;
    font-size: 40px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(148, 0, 211, 0.5);
    transition: background-color 0.3s;
}
#card1 {
    color: #fff; /* Change text color */
    text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.719);
    opacity: 25%;
    background: rgba(59, 59, 59, 0.692) url('../pensum.jpg') center/cover no-repeat; 
}

.card-heading{
    opacity: 100%;
    color: #f8f8f8;

text-shadow: 2px 7px 5px rgba(0,0,0,0.3), 
    0px -4px 10px rgba(255,255,255,0.3);
}
#card2 {
    background: rgba(59, 59, 59, 0.692) url('../what-is-a-vpn.jpg') center/cover no-repeat; 
    opacity: 25%;
    text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.719);
    color: #fff; /* Change text color */
}

 
#card3 {
    background: rgba(59, 59, 59, 0.692) url('../style.jpg') center/cover no-repeat; 
    text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.719);
    opacity: 25%;
    color: #fff; /* Change text color */
}


#card4 {
    background: rgba(59, 59, 59, 0.692) url('spil.png') center/cover no-repeat; 
    text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.719);
    opacity: 25%;
    color: #fff; /* Change text color */
}





.card-button:hover {
    background-color: #6a0080;
    box-shadow: 0px 0px 15px rgba(148, 0, 211, 0.5);
}
