body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: rgb(28, 26, 28);
    color: #f7f4f8;
}

.top-bar {
    background-color: #9400d3;
    padding: 10px;
    text-align: center;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0px 0px 20px rgb(255, 255, 255);
    text-shadow: 0px 0px 20px rgb(255, 255, 255);
}

.button-container {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.card-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px; /* Set the width to match the card width */
    height: 420px; /* Set the height to match the card height */
    padding: 20px;
    background-color: #9400d3;
    color: #fff;
    text-align: center;
    text-decoration: none;
    font-size: 40px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(148, 0, 211, 0.5);
    transition: background-color 0.3s;
}
#card1 {
    color: #fff; /* Change text color */
    background: rgba(59, 59, 59, 0.692) url('books.png') center/cover no-repeat; 
}


#card2 {
    background-color: #9400d3; /* Change background color */
    color: #fff; /* Change text color */
}


#card3 {
    background-color: #9400d3; /* Change background color */
    color: #fff; /* Change text color */
}


#card4 {
    background-color: #9400d3; /* Change background color */
    color: #fff; /* Change text color */
}





.card-button:hover {
    background-color: #6a0080;
    box-shadow: 0px 0px 15px rgba(148, 0, 211, 0.5);
}

#text{
    color: #ffffff;
    margin-left: 15px;
    font-size: 30px;
    text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.61);

}

/* Style for the search bar */
#search {
    color: #ffffff;
    width: 30%;
    padding: 10px;
    background-color: #333333;
    border: 1px solid #333333;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 10px;
    margin-left: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Add a placeholder text for the search bar */
#search::placeholder {
    color: #999;
}

/* Style the search bar on focus */
#search:focus {
    border: 1px solid #9400d3; /* Change the border color on focus */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    outline: none; /* Remove the default blue outline on focus */
}

